<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
  <div class="col-sm-8">
    <%= render 'posts/posts', posts: @posts %>
  </div>
<% else %>

<div class="text-center">
  <h1 style="font-size: 35px;">あなたのオリジナルWebサイト、アプリ、サービスを投稿しよう‼</h1>
  <div class="btn">
    <%= link_to 'ログイン', login_path, class: 'btn btn-secondary w-150px ' %>
    <%= link_to 'ユーザー登録', signup_path, class: 'btn btn-secondary w-150px' %>
  </div>
</div>
  <%= render 'posts/posts', posts: @posts%>
<% end %>