<div class='container'>
  <div class='row'>
    <%= form_with url: search_path, method: :get, local: true do |f| %>
    <div class='col-sm-7, search'>
    <p>キーワード</p>
      <div class='form'>
        <%= f.text_field :keyword %>
        <%= f.submit 'Search', :class=>"btn btn-secondary", :search => nil  %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<ul>
  <% @posts.each do |post| %>
    <li class="media mb-3">
      <div class="media-body">
        <div>
          <%= link_to post.user.name, user_path(post.user) %> <span class="text-muted">posted at <%= post.created_at %></span>
        </div>
        <div class="box">
          <p><%= image_tag (post.img.to_s),  :size => "288x162" if post.img? %></p>
          <p class="text"><%= link_to(post.content, "/posts/#{post.id}", class: 'link') %></p>
        </div>
      </div>
    </li>
  <% end %>
</ul>