<div class='container'> 
    <div class="content-box">
      <%= link_to (@post.img.to_s), "data-lightbox" => (@post.img.to_s) do %>
      <div class='image'><%= image_tag (@post.img.to_s), class: 'img' if @post.img? %></div>
      <% end %>
      <p class="text"><%= @post.content %></p>
    </div>
</div>   
  <div class="container mt-4">
    <div class='btn-group'>
      <div id='favorite'>
        <%= render 'favorites/favorites_button', post: @post %>
      </div>
      <%= link_to "アクセス", (h(@post.url)).html_safe, class: 'btn btn-primary btn-sm' %>
      <% if current_user == @post.user %>
        <%= link_to "削除", @post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
        <%= link_to "編集", edit_post_path, class: 'btn btn-warning btn-sm' %>
      <% end %>
    </div>
  </div>
<div class='container'>
  <div class="comment">
    <%= form_with(model: [@post, @comment], local: true) do |f| %>
      <%= f.text_area :content, class: 'comment-form'%>
      <%= f.submit "コメントする", class: "btn btn-secondary rounded-pill" %>
    <% end %>
    </div>
  <h1>コメント一覧</h1>
  <div class="comment-content">
    <% @comments.each do |comment| %>
      <div>
        <strong><%= link_to comment.user.name,user_path(@post.user) %></strong>
        <br />
        <p class=""><%= comment.content %></p>
        <% end %>
      </div>
  </div>
</div>