<div class="content-box">
  <P class="text"><%= @post.content %></P>
  <P class="img"><%= image_tag (@post.img.to_s), :size => "500x270" if @post.img? %></P>
</div>
<div class="container mt-4">
    <div class='btn-group'>
      <%= render 'favorites/favorites_button', post: @post %>
      <%= link_to "アクセス", (h(@post.url)).html_safe, class: 'btn btn-primary btn-sm' %>
      <% if current_user == @post.user %>
        <%= link_to "削除", @post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
        <%= link_to "編集", edit_post_path, class: 'btn btn-warning btn-sm' %>
      <% end %>
    </div>
</div>
<div class="comment">
<%= form_with(model: [@post, @comment], local: true) do |f| %>
  <%= f.text_area :content, :size=> '140x3' %>
  <%= f.submit "コメントする", class: "btn btn-secondary rounded-pill" %>
<% end %>
</div>
<h1>コメント一覧</h1>
<div class="comment-all">
  <% @comments.each do |comment| %>
    <div>
      <strong><%= link_to comment.user.name,user_path(@post.user) %></strong>
      <br />
      <p class="text"><%= comment.content %></p>
      <% end %>
    </div>
</div>